body
{
}

#like-counter {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    color: black;
    background-color: white;
    width: auto
}